/* Style Indexing */
/*
    01. Default & common
    02. Main
    03. Main-bottom
      0301. About
      0302. Education And Experience
      0303. Skills
      0304. Contact
   
 */

 /* 01. Default & Common */
 @import url("https://fonts.googleapis.com/css?family=Open+Sans:40");

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
 }

 .container{
    max-width: 1160px;
    margin: 0 auto;
 }
 .container-full{
    max-width: 100%;
 }
 img{
    max-width: 100%;
 }
 a{
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: var(--textColor);
 }
 :root{
    --bgColor: #000000;
    --textColor: #ffffff;
    --textBlackColor: #000;
    --textHoverColor: #ff3c00;
    --btnBorderColor: #fd0000;
    --btnHoverBGColor: #ff3c00;
 }
 /* 02. Main */
 .main{
   width: 100%;
   height: 100vh;
   position: relative;
   animation-name: backgroundAnimation;
   animation-duration: 10s;
   animation-iteration-count: infinite;
 }
 @keyframes backgroundAnimation {
  0%   {background-image: radial-gradient(farthest-corner at 60% 85%, #82be90,#16191c);}
  25%  {background-image: radial-gradient(farthest-corner at 60% 85%,#16191c,#82be90);}
  50%  {background-image: radial-gradient(farthest-corner at 60% 85%, #82be90,#16191c);}
  75%  {background-image: radial-gradient(farthest-corner at 60% 85%,#16191c,#82be90);}
  100% {background-image: radial-gradient(farthest-corner at 60% 85%, #82be90,#16191c);}
}



 /* NAv Menu Section Start */
 .main-menu{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30%;
  z-index: 1;
  height: 100vh;
  padding: 50px 0 0 50px;
 }
 #navBar{
  font-size: 32px;
  color: var(--textColor);
  cursor: pointer;
  display: none;
  z-index: 9999;
 }
 .main-menu nav{
  display: flex;
  flex-direction: column;
  position: relative;
 }
 #menu{
  margin-top: 20px;
  display: none;
 }
 .main-menu nav a{
  display: inline-block;
  text-decoration: none;
  color: var(--textColor);
  width: 100%;
  padding: 30px 0;
  transition: 0.4s;
 }
 .main-menu nav a:hover{
  color: var(--btnBorderColor);
 }

 .main-menu nav i{
  position: absolute;
  top: -23px;
  right: 40px;
  font-size: 42px;
  cursor: pointer;
  color: var(--textColor);
  /* transform: rotate(40deg); */
  transition: 0.4s;
 }
 .main-menu nav i:hover{
  transform: rotate(45deg)!important;
 }

 /* NAv Menu Section End */

.header{
  width: 100%;
  padding: 50px 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .header-menu{
  flex-basis: 20%;
  text-align: left;
}
.main .header-menu a{
  padding: 0 10px;
  transition: 0.4s;
}
.main .header-menu a:hover{
  color: var(--textBlackColor);
}

.main .header-logo{
  flex-basis: 50%;
  text-align: center;
}
.main .header-logo a{}

.main .header-log{
  flex-basis: 10%;
}
.main .header-log a{
  padding: 5px 10px;
  border-radius: 15px;
  transition: 0.4s;
}
.main .header-log a:hover{
  background-color: transparent;
  color: var(--textColor);
  border: 2px solid var(--textColor);
}

.main .header-btn{
  flex-basis: 10%;
}
.main .header-btn a{
  background-color: var(--textColor);
  color: var(--textBlackColor);
  padding: 5px 10px;
  border-radius: 15px;
  transition: 0.4s;
}
.main .header-btn a:hover{
  background-color: transparent;
  color: var(--textColor);
  border: 2px solid var(--textColor);
}

 .main img{
   width: 200px;
   height: 200px;
   border-radius: 50%;
 }
 .main h1{
   color: var(--textColor);
   font-weight: 200;
   font-size: 82px;
 }
 

.blinking-cursor {
  user-select: none;
  animation: blink 1s steps(2, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}

.main-bottom{
  padding: 120px 50px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-left{
  flex-basis: 50%;
}
.main-left h1{
  font-size: 90px;
  line-height: 130px;
  color: var(--textColor);
  /* position: relative; */
}

.main-left h1 span{
  cursor: pointer;
  position: relative;
}
.main-left h1 span::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background: #000;
  transition: all 0.4s ease;
}
.main-left h1 span:hover::after{
  width: 100%;
}

.main-left p{
  width: 350px;
  color: var(--textColor);
}
.main-left button{
  background: #82be90da;
  backdrop-filter: blur(20px);
  padding: 25px 15px;
  border: none;
  border-radius: 20px;
  color: var(--textColor);
}
.main-left button i{
  font-size: 18px;
  transform: translateY(10px);
  transition: 0.4s;
}
.main-left button:hover i{
  transform: translateY(20px);
}

.main-right{
  flex-basis: 50%;
  text-align: right;
}
.main-right iframe{
  border-radius: 50px;
  width: 70%;
  height: 180px;
}

/* .main .social-menu{
  z-index: 9999;
  margin-top: 10px;
  display: flex;
}
.main .social-menu a{
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  padding: 0 5px;
  transition: 0.4s;
  color: var(--textBlackColor);
}
.main .social-menu a:hover{
  color: var(--textColor);
} */


 

/* Responsive */
/* @media (max-width:1212px) {
  .main{
    width: 100%;
  }
} */
@media (max-width:1160px) {

  .main-left h1{
    font-size: 5rem;
    line-height: 70px;
  }
  
}

@media (max-width:960px) {
  
  
  .main-left h1{
    font-size: 3rem;
    line-height: 40px;
   } 
   .main-left p{
    font-size: .9rem;
   }

}


@media (max-width:720px) {

  #navBar{
    display: block;
    cursor: pointer;
    margin-top: -18px;
    z-index: 999;
  }
  .header-menu{
    display: none;
  }

  .header{
    justify-content: space-between;
    padding-top: 30px;
  }
  .header-logo{
    flex-basis: 30%!important;
    margin-left: 50px;
  }
  .header-logo a{
    font-size: 1rem;
  }
  .header-log{
    flex-basis: 15%!important;
  }
  .header-log a{
    font-size: 1rem;
  }
  .header-btn{
    flex-basis: 15%!important;
    margin-right: 50px;
  }
  .header-btn a{
    font-size: 1rem;
  }

  .main-left h1{
    
   }

  .main .main-right iframe{
    width: 100%;
    
  }
}
@media (max-width:648px) {

  .main-bottom{
    flex-direction: column;
  }
  .main-left,
  .main-right{
    flex-basis: 100%;
    text-align: center;
  }
  
}


@media (max-width:560px) {
  .main-menu{
    width: 100%;
   }
  .main h1{
    font-size: 62px;
  }
  .main span{
    font-size: 16px;
  }
}

@media (max-width:440px) {

  .header{
    padding-top: 15px;
  }
  #navBar{
    font-size: 1rem;
    margin-top: -27px;
  }
  .header-logo a{
    font-size: 0.8rem;
  }
  .header-log a{
    font-size: 0.8rem;
  }
  .header-btn a{
    font-size: 0.8rem;
  }
}
 